.container {
  --black-color: #000000;
  --darkest-gray-color: #191a21;
  --darker-gray-color: #4f5359;
  --dark-gray-color: #484c52;
  --gray-color: #c6c6cb;
  --light-gray-color: #dedfe2;
  --lighter-gray-color: #f2f3f6;
  --white-color: #ffffff;
  --ios-blue-color: #3478f6;

  --zoom: calc(81 / 100);

  color: var(--darker-gray-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;

  padding-bottom: 40px;

  div {
    box-sizing: border-box;
  }
}
